.table-container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 10vh;

  table > tr > th {
    padding: 20px;
  }

  table > tbody > tr > td > input {
    width: 30px;
  }
}

.panel-container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
