<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Street name</th>
        <th>House number</th>
        <th>Apartment number</th>
        <th>Postal code</th>
        <th>Town</th>
        <th>Phone number</th>
        <th>Date of birth</th>
        <th class="age">Age</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody
      #personForm
      appPersonForm
      *ngFor="let person of people$ | async"
      [controls]="this.personControls[person.id]"
      [personId]="person.id"
      (deleteHandler)="handlePersonDelete($event)">
    </tbody>
  </table>
</div>
<div class="panel-container">
  <button>Add</button>
  <button>Save</button>
  <button>Cancel</button>
</div>
