<img class="logo" src="assets/logo-macrix.png" alt="logo">
<h2 class="title">Macrix recrutation assignment - R. Jakubowski</h2>
<h3 *ngIf="!people.length" class="title mt-5">Looks like there's no people in the table. Please add some.</h3>
<div class="table-container">
  <table *ngIf="people.length">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Street name</th>
        <th>House number</th>
        <th>Apartment number</th>
        <th>Postal code</th>
        <th>Town</th>
        <th>Phone number</th>
        <th>Date of birth</th>
        <th class="age">Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody
      #personForm
      appPersonForm
      *ngFor="let person of people$ | async"
      [controls]="this.personControls[person.id]"
      [person]="person"
      (deleteHandler)="handlePersonDelete($event)">
    </tbody>
  </table>
</div>
<div class="panel-container">
  <button (click)="addNewPerson()">Add</button>
  <button [disabled]="checkForChanges()" (click)="saveChanges()">Save</button>
  <button [disabled]="checkForChanges()" (click)="reloadData()">Cancel</button>
</div>
