<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Street name</th>
        <th>House number</th>
        <th>Apartment number</th>
        <th>Postal code</th>
        <th>Town</th>
        <th>Phone number</th>
        <th>Date of birth</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody appPersonForm *ngFor="let person of people$ | async" [controls]="this.personControls[person.id]">
    </tbody>
  </table>
</div>
