@import "~bootstrap/scss/bootstrap";

body {
  padding: 20px;
}

input.ng-invalid {
  position: relative;
  border: 1px solid red;
}

.person-row {
  position: relative;
}

.person-row p.field-error {
  position: absolute;
  color: red;
  font-size: 12px;
  width: 100%;
}

.table-row {
  height: 50px;
}
